*, *::after, *::before {
   border: 0;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --dark: #002A32;
   --gray: #6b7577;
   --light: #eff5f7;
   --light-transparent: rgba(237, 248, 249, 0.75);
   --light-gradient: linear-gradint(180deg, rgba(18, 190, 166, 0.3) 0% ,rgba(198,212,197,0.15) 100%);
   --transition: all 200ms ease-in-out;
   --nav-height: 4rem;
}

body, html {
   font-family: 'Poppins', sans-serif;
   color: var(--dark);
   scroll-padding-top: var(--nav-height);
   scroll-behavior: smooth;
}

.mainNav {
   position: fixed;
   z-index: 100;
   width: 100%;
   padding: 1rem 2rem;
   transition: var(--transition);

   .navList {
      display: flex;
      justify-content: center;
      list-style: none;
      gap: 2rem;
   }

   .navLink {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:link, &:visited, &:active {
         color: var(--light);
         transition: var(--transition);
      }
   }
   &.applyBackground {
      background-color: var(--light-transparent);
      box-shadow: 0 3px 2px rgba(10, 15, 54, .1);
      .navLink {
         &:link, &:visited, &:active {
            color: var(--dark);
            font-weight: 600;
         }
      }
   }
}

.hero {
   background-image: url('/images/head3.webp');
   background-size: cover;
   background-position: center center;
   height: 100vh;
   display: grid;
   place-items: center;
   text-align: center;
   color: var(--light);
   position: relative;

   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      //background: var(--light-gradient);
      background: rgba(25, 26, 26, 0.696);
      z-index: 0;
   }

   &__desc {
      position: relative;
      z-index: 1;
      h1{
         font-size: 3.5rem;
      }
      p {
         font-size: 1.5rem;
      }
   }
   
   &__arrow {
      position: absolute;
      bottom: 5px;
      z-index: 1;

      &:link, &:visited, &:active {
         color: var(--light);
      }

      &:hover, &:focus {
         outline: none;
         transition: var(--transition);
         animation: bounce 1000ms infinite;
      }
   }
}

@keyframes bounce {
   25%, 75% {
      transform: translateY(-10%) scale(1.2);
   }
   0%, 50% {
      transform: translateY(0%) scale(1.2);
   }
}

h2 {
   font-size: 2rem;
   text-align: center;
   margin: 2rem 2rem 1.5rem;
}

input {
   font-family: inherit;
   font-size: inherit;
   display: block;
   width: calc(100% - 4rem);
   max-width: 500px;
   padding: .5rem .8rem;
   margin: 0 auto;
   border-bottom: 3px solid var(--gray);

   &:focus {
      outline: none;
      border-bottom: 3px solid var(--dark);

      &::placeholder {
         color: var(--dark);
      }
   }
}

.blog-posts {
   display: grid;
   place-items: center;
   padding: 2.5rem 2rem;
   max-width: 1000px;
   margin: auto;

   .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 2rem;
   }

   .card {
      position: relative;
      display: grid;
      align-content: space-between;
      height: 500px;
      overflow: hidden;
      transition: var(--transition);

      &__desc {
         opacity: 0;
         padding: 1.5rem;
         transition: var(--transition);
      }

      &__img {
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         z-index: -1;
         transition: var(--transition);
      }

      .card__meta {
         background-color: var(--light-transparent);
         padding: 1.5rem;
         transition: var(--transition);
         
         &--title {
            font-size: 1.2rem;
            display: block;
            margin-bottom: 1rem;
            font-weight: 600;
            color: var(--dark);
            text-decoration: none;
         }

         &--taglsit {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            gap: .8rem;
         }

         &--taglist-item {
            padding: .3rem .5rem;
            background-color: var(--dark);
            color: var(--light);
            text-decoration: none;
            font-size: .9rem;
         }
      }
      &:hover {
         &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--light-transparent);
            z-index: -1;
         }
         .card__desc {
            opacity: 1;
         }
         .card__img {
            transform: scale(1.2);
         }
         .card__meta {
            background-color: transparent;
         }
      }
   }
}

@media screen and (max-width: 500px) {
   .blog-posts {
      
      .card-container {
         
         grid-template-columns: 1fr;
         
      }
   }
}
// .card__meta--taglist-item {
//    padding: .5rem .9rem;
//    background-color: var(--dark);
//    color: var(--light);
//    text-decoration: none;
// }